
<div class="search-section">
    <h6 class="font-weight-bold">Search</h6>
    <input class="form-control input-content" type="text" name="name" [(ngModel)]="firstname" (ngModelChange)="SearchName()" placeholder="Name">
    <input class="form-control input-content" type="text" name="dept" [(ngModel)]="department" (ngModelChange)="SearchDept()" placeholder="Dept">
    <input class="form-control input-content" type="number" name="id" [(ngModel)]="empid" (ngModelChange)="SearchId()" placeholder="Employee Id">
    <input class="form-control input-content" type="text" name="designation" [(ngModel)]="designation" (ngModelChange)="SearchDesignation()" placeholder="Designation">
    <!--<button class="btn btn-outline-light text-dark border-0 rounded-pill ml-n5" type="button" (click)="filterSearching()">
        <span class="glyphicon glyphicon-search"></span>search
    </button>-->
</div>


<table class="table table-striped table-content">
    <thead>
        <tr>
           <th>User</th>
           <th (click)="sort('name')">Full Name&nbsp;<i class="fa fa-sort"></i></th>
            <th>Dept</th> 
          <th>Email Id</th>
          <th>Designation</th>
          <th>Phone</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let emp of employee | orderBy:key:reverse | paginate: {itemsPerPage:10,currentPage:p}">
            <td><img src={{emp.photo}} class="employee-photo"></td>
          <td>{{emp.name}}</td>
          <td>{{emp.dept}}</td>
          <td>{{emp.emailId}}</td>
          <td>{{emp.designation}}</td>
          <td>{{emp.mobile}}</td>
        </tr>
    </tbody>
   
</table>
<div class="pagination">
    <div class="text-left show-record">Showing {{start==null?1:start }} to {{last==null?10:last}} of {{employee.length}} entries</div>
    <div><pagination-controls (pageChange)="p=$event" (pageChange)="listCount($event)"></pagination-controls></div>
</div>